[Unit]
Description=Smart Factory Detection Service
After=network.target mqtt.service

[Service]
ExecStart=/home/youssef/Projects/Academic/IoT/smart_factory/venv/bin/python3 /home/youssef/Projects/Academic/IoT/smart_factory/src/detect.py
WorkingDirectory=/home/youssef/Projects/Academic/IoT/smart_factory
StandardOutput=inherit
StandardError=inherit
Restart=always
User=youssef

[Install]
WantedBy=multi-user.target
